  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
   }
  
   @font-face {
    font-family: "Chewy";
    src: url(Chewy-Regular.ttf);
  }

  @font-face {
    font-family: "Copse";
    src: url(Copse-Regular.ttf);
  }
  
  html {
    width: 100%;
    height: 100%;
    font-size: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 221, 125);
    font-family: "Copse";
  }

  /* .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */
  
   /* navigation bar */
  .nav {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height: 12vh;
    background-color: rgb(240, 221, 125);
    padding:0 25px;
  }
  
  .nav__links {
    display: inline-block;
  }
  
  .link,
  .link:active,
  .link:visited,
  .link:link {
    color: #e34055;
    font-family: 'Chewy';
    text-decoration: none;
    font-size: 2.5vw;
    padding-right: 2vw;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    /* height: 75%; */
    align-items:center;
    justify-content:center;
  }

  .mainhz {
    display: flex;
    flex-direction: row;
    /* height: 75%; */
    align-items:center;
    justify-content:center;
  }

  .hd1{
    margin:10px;
    font-family: 'Chewy';
    font-weight: 200;
    color:#5573e0;
    font-size: 4em;
  }
  
  .text01 {
    /* margin:10px; */
    /* width:40%; */
    font-family: 'Copse';
    font-weight: 200;
    font-size: 14px;
    /* line-height: 143.5%;   */
    color: #000000;
    white-space: initial;
  }
  
  .img{
  object-fit: cover;
  }

  p {
    margin: 10px;
  }
 

  .block {
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }

  .test {
  width:400px;
  justify-content:center;
  border: 1px solid black;
  }